<div>
    <!-- <input id="title" [(ngModel)]="quiz.title" placeholder="title"> -->
    <mat-form-field class="example-full-width">
        <mat-label>Message</mat-label>
        <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>

    <input id="description" [(ngModel)]="quiz.description" placeholder="description">
    <button (click)="createQuiz()">Crear</button>
    <div *ngFor="let question of quiz.questions">
        <input id="question" [(ngModel)]="question.question" placeholder="description">
        <ul>
            <li *ngFor="let answer of question.possible_answers">
                <label>
                    <input type="radio" [name]="question.id" [value]="answer.value"
                        (click)="setCorrectAnswer(answer.value,question.id)">
                    <input type="text" [(ngModel)]="answer.value" placeholder="answer" />
                </label>
            </li>
        </ul>
    </div>
</div>