<div class="container">
    <h1>Creacion de QUIZ</h1>
    <h2>Elabora las preguntas, posibles respuestas y marca cual es la correcta de cada una</h2>
    <app-shared-input labelInput="Titulo" placeholder="Escribe el titulo"></app-shared-input>
    <app-shared-input id="description" labelInput="Descripcion" placeholder="Escribe una descripcion" ngDefaultControl
        [(ngModel)]="quiz.description"></app-shared-input>
    <div *ngFor="let question of quiz.questions">
        <!-- <input id="question" [(ngModel)]="question.question" placeholder="description"> -->
        <app-shared-input ngDefaultControl id="question" labelInput="Pregunta" placeholder="Escribe la pregunta"
            [(ngModel)]="question.question"></app-shared-input>
        <ul>
            <li *ngFor="let answer of question.possible_answers">
                <label>
                    <input type="radio" [name]="question.id" [value]="answer.value"
                        (click)="setCorrectAnswer(answer.value,question.id)">
                    <app-shared-input ngDefaultControl labelInput="Respuesta"
                        placeholder="Escribe tus posibles respuestas" [(ngModel)]="answer.value"></app-shared-input>
                    <!-- <input type="text" [(ngModel)]="answer.value" placeholder="answer" /> -->
                </label>
            </li>
        </ul>
    </div>
    <app-button-shared [buttonType]="'mat-raised-button'" [color]="'primary'" [label]="'Crear Quiz'"
        (click)="createQuiz()"></app-button-shared>
</div>