<p>quiz works!</p>

<span>{{quiz.title}} </span>
<span>{{quiz.description}}</span>
<h2>questions</h2>
<div>
    <ul>
        <li *ngFor="let question of quiz.questions">
            <strong>{{ question.question }}</strong>
            <ul>
                <li *ngFor="let answer of question.possible_answers">
                    <label>
                        <input type="radio" [name]="question.id" [value]="answer.value"
                            (change)="selectAnswer(question.id, answer)" />
                        {{ answer.value }}
                    </label>
                </li>
            </ul>
        </li>
    </ul>
</div>